// IBM Plex Mono Import
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Background Color
html {
  background-color: #171717;
}

// Set Text to White (for dark bg)
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  color: white;
}

//Landing Page
#landingLogo {
  height: 10vw;
  max-height: 100px;
}

#landingSubheading {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 40pt;
  margin-top: 25px;
}

#startArrow {
  color: white;
  font-size: 32pt;
}

#landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#title {
  margin-left: 100px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
  #landingSubheading {
    font-size: 24pt;
  }

  #title {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
}

//Landing Dashboard
#header {
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 40px;
  }
  h3 {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #backToTitle {
    color: white;
    font-size: 22pt;
    margin-right: 45px;
  }
}

#missionContainers {
  display: flex;
  margin: 35px;

  #pastMissions {
    background-color: #232323;
    border-radius: 20px;
    width: 350px;
    height: 85vh;
    margin-right: 35px;

    h2 {
      font-family: "IBM Plex Mono";
      font-weight: 500;
      text-align: center;
      margin-bottom: 35px;
    }

    #listItemContainer {
      background-color: #343434;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0px;
      margin: 5px 20px;

      #listText {
        h2 {
          font-family: "IBM Plex Mono";
          font-weight: 600;
          text-align: left;
          font-size: 16pt;
          margin: 0px 0px 0px 25px;
        }
        h3 {
          font-family: "IBM Plex Mono";
          font-weight: 300;
          font-style: italic;
          text-align: left;
          font-size: 12pt;
          margin: 0px 0px 0px 25px;
        }
      }
      #caratContainer {
        #listCarat {
          color: white;
          font-size: 24pt;
          margin-right: 15px;
        }
      }
    }
  }

  #upcomingMission {
    background-color: #232323;
    border-radius: 20px;
    width: 60vw;
    max-width: 900px;
    height: 85vh;
    padding-right: 45px;

    h1 {
      font-family: "IBM Plex Mono";
      font-weight: 500;
      padding-left: 55px;
      padding-top: 20px;
      padding-bottom: 35px;
    }

    #blockOne {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      #imageContainer {
        width: 60%;
        margin-right: 20px;
        #missionImage {
          width: 90%;
          margin-left: 55px;
          border-radius: 15px;
        }
      }

      #mainStats {
        width: 40%;
        margin-right: 35px;
        margin-left: 25px;

        .statHeading {
          font-family: "IBM Plex Mono";
          font-weight: 600;
          font-size: 12pt;
          color: #646363;
          margin-bottom: 5px;
          margin-top: 10px;
        }

        .statFigure {
          font-family: "IBM Plex Mono";
          font-weight: 400;
          font-size: 20pt;
          color: white;
          margin-top: 0px;
          margin-bottom: 5px;
        }
      }

      h4 {
        text-align: left;
      }
    }

    #blockTwo {
      margin-left: 55px;
      margin-top: 25px;
      .detailsHeading {
        font-family: "IBM Plex Mono";
        font-weight: 600;
        font-size: 12pt;
        color: #646363;
        margin-bottom: 5px;
        margin-top: 10px;
      }

      .detailsBody {
        font-family: "IBM Plex Mono";
        font-weight: 400;
        font-size: 14pt;
        color: white;
        margin-top: 0px;
        margin-bottom: 5px;
      }

      #buttonContainer {
        margin-top: 50px;

        #watchLiveButton {
          border-radius: 10px;
          background-color: #232323;
          width: 200px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 0px 1px #fff inset;

          p {
            font-family: "IBM Plex Mono";
            font-weight: 500;
            font-size: 14pt;
          }
        }

        #watchLiveButton:hover {
          background-color: white;

          p {
            color: #232323;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #missionContainers {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    #pastMissions {
      margin-top: 35px;
      margin-right: 0px;
      width: 90vw;
      max-width: 600px;
    }

    #upcomingMission {
      width: 90vw;
      max-width: 600px;
    }
  }
}
