// IBM Plex Mono Import
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Background Color
html {
  background-color: #171717;
}

// Set Text to White (for dark bg)
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

//Landing Page
#landingLogo {
  height: 10vw;
  max-height: 100px;
}

#landingSubheading {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 40pt;
  margin-top: 25px;
}

#startArrow {
  color: white;
  font-size: 32pt;
}

#landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#title {
  margin-left: 100px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
  #landingSubheading {
    font-size: 24pt;
  }

  #title {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
}

//Landing Dashboard
#header {
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 40px;
  }
  h3 {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #backToTitle {
    color: white;
    font-size: 22pt;
    margin-right: 45px;
  }
}

#missionContainers {
  display: flex;
  margin: 35px;

  #pastMissions {
    background-color: #232323;
    border-radius: 20px;
    width: 350px;
    height: 85vh;
    margin-right: 35px;

    h2 {
      font-family: "IBM Plex Mono";
      font-weight: 500;
      text-align: center;
    }
  }

  #upcomingMission {
    background-color: #232323;
    border-radius: 20px;
    width: 60vw;
    max-width: 800px;
    height: 85vh;

    h1 {
      font-family: "IBM Plex Mono";
      font-weight: 500;
      padding-left: 55px;
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #missionContainers {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    #pastMissions {
      margin-top: 35px;
      margin-right: 0px;
      width: 90vw;
      max-width: 600px;
    }

    #upcomingMission {
      width: 90vw;
      max-width: 600px;
    }
  }
}
